<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        body {
            margin-left: 200px;
            margin-right: 100px;
            margin-top: 150px;
            border: black;
            width: 800px;
        }
    </style>
</head>
<body>
    </head>
    <body> 
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
             
        <h1>{{title}}</h1>  
        <form action="/auth" method="POST">
            <p>Usuario: </p>
            <input type="text" name="usuario">
            <p>Senha: </p>
            <input type="text" name="senha">
            
            <button type="submit">Login</button>
        </form>    
    </body>
    </html>
    
</body>
</html>